# Ignorer tout le contenu du dossier .yarn sauf certaines sous-parties utiles
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Désactiver le cache global pour utiliser Zero-Installs (décommente la ligne suivante si nécessaire)
# En cas d'utilisation de Zero-Installs, ne pas oublier de désactiver le cache global :
# yarn config set enableGlobalCache false
# Documentation : https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache  # Décommente cette ligne si tu utilises Zero-Installs

# Ignorer les fichiers générés par Yarn PnP
.pnp.*
.pnp

# Ignorer les fichiers d'environnement
.env

# Ignorer le dossier .well-known
.well-known/

# Ignorer node_modules
node_modules/
